<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsz.febs.server.system.modules.menu.mapper.TMenuMapper">
  <resultMap id="BaseResultMap" type="com.itsz.febs.server.system.modules.menu.domain.TMenu">
    <!--@mbg.generated-->
    <id column="MENU_ID" jdbcType="BIGINT" property="menuId" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="COMPONENT" jdbcType="VARCHAR" property="component" />
    <result column="PERMS" jdbcType="VARCHAR" property="perms" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
<!--
  <cache type="com.itsz.febs.server.system.boot.RedisCache" eviction="LRU" />
-->

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    MENU_ID, PARENT_ID, MENU_NAME, `PATH`, COMPONENT, PERMS, ICON, `TYPE`, CREATE_TIME, 
    MODIFY_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_menu
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_menu
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="MENU_ID" keyProperty="menuId" parameterType="com.itsz.febs.server.system.modules.menu.domain.TMenu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_menu (PARENT_ID, MENU_NAME, `PATH`, 
      COMPONENT, PERMS, ICON, 
      `TYPE`, CREATE_TIME, MODIFY_TIME
      )
    values (#{parentId,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{component,jdbcType=VARCHAR}, #{perms,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{type,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="MENU_ID" keyProperty="menuId" parameterType="com.itsz.febs.server.system.modules.menu.domain.TMenu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="menuName != null">
        MENU_NAME,
      </if>
      <if test="path != null">
        `PATH`,
      </if>
      <if test="component != null">
        COMPONENT,
      </if>
      <if test="perms != null">
        PERMS,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="type != null">
        `TYPE`,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        #{component,jdbcType=VARCHAR},
      </if>
      <if test="perms != null">
        #{perms,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itsz.febs.server.system.modules.menu.domain.TMenu">
    <!--@mbg.generated-->
    update t_menu
    <set>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="menuName != null">
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        `PATH` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        COMPONENT = #{component,jdbcType=VARCHAR},
      </if>
      <if test="perms != null">
        PERMS = #{perms,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `TYPE` = #{type,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itsz.febs.server.system.modules.menu.domain.TMenu">
    <!--@mbg.generated-->
    update t_menu
    set PARENT_ID = #{parentId,jdbcType=BIGINT},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      `PATH` = #{path,jdbcType=VARCHAR},
      COMPONENT = #{component,jdbcType=VARCHAR},
      PERMS = #{perms,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      `TYPE` = #{type,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where MENU_ID = #{menuId,jdbcType=BIGINT}
  </update>
  <select id="queryByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
   FROM t_menu
   <where>
     <if test="menuName != null and menuName != ''">
       AND MENU_NAME LIKE CONCAT('%', #{menuName},'%')
     </if>
    <if test="type != null">
        AND TYPE = #{type}
    </if>
   </where>
  </select>
  <select id="queryAll" resultMap="BaseResultMap">
     SELECT
     <include refid="Base_Column_List"></include>
     FROM t_menu
  </select>
</mapper>